body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color:black;
  text-decoration: none;
}

img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:0.5em;
}

#root{
  min-height: 100vh;
}

#search-bar{
  width:100%;
  padding-inline:1em;
  transition: width 0.75s linear;
}

#search-bar:focus{
  width: 400px;
  outline: none;
}




